<div class="section section-header">
    <div class="parallax filter filter-color-blue">
        <div class="image" style="background-image: url('assets/img/header-4.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">My Holiday</h1>
                    <h3>Liburan asik dan menyenangkan!</h3>
                    <div class="separator line-separator">♦</div>
                </div>

                <div class="button-get-started">
                    <a [routerLink]="['/product']" hre class="btn btn-white btn-fill btn-lg ">
                        Product
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Our Services</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Kami menjanjikan liburan yang dapat memuaskan anda yang dapat membuat anda
                    lupa dengan stress ketika bekerja</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-wallet"></i>
                    </div>
                    <h3>Murah</h3>
                    <p class="description">Nikmati dengan harga yang tidak akan membuat anda melarat</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-like"></i>
                    </div>
                    <h3>Nyaman</h3>
                    <p class="description">Kenyamanan yang tiada banding</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-star"></i>
                    </div>
                    <h3>Berkualitas</h3>
                    <p class="description">Kualitas yang tiada tanding</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image" style="background-image: url('assets/img/office-1.jpeg')">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Ada yang ditanyakan?</h2>
                <div class="separator line-separator">♦</div>
                <p class="description"> jika ada yang ingin ditanyakan silahkan contact kami karena kami berusaha
                    untuk memberikan pelayanan terbaik untuk anda</p>
            </div>

            <div class="button-get-started">
                <a href="https://api.whatsapp.com/send?phone=6282385743787" class="btn btn-danger btn-fill btn-lg"
                    target="_blank">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/yudi.gunawan.589100"
                                    class="btn btn-social btn-facebook btn-simple" target="_blank">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/yudigunawan52"
                                    class="btn btn-social btn-reddit btn-simple" target="_blank">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/yudigunawan7383b8ab/"
                                    class="btn btn-social btn-reddit btn-simple" target="_blank">
                                    <i class="fa fa-linkedin"></i> Linkedin
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            ©
            <script> document.write(new Date().getFullYear()) </script> Yudi Gunawan
        </div>
    </div>
</footer>